@{
    ViewData["Title"] = "کپی رایت";
}

<style>
.a{
    font-family:"b yekan";
    font-size:22px;
  text-align: center;
  direction: rtl;
}

.h1{
    Font-family:ordibehesht;
            direction: rtl;
        text-align: right;


}

</style>
<h1 class="h1">@ViewData["Title"]</h1>
<br>
<p class="a">کلیه ی حقوق این سایت مربوط به ابوالفضل قاسمی است و ذکر ، نقل قول و یا چاپ مطالب در سایتهای دیگر و یا کانالهای تلگرامی و یا چاپ به صورت کتاب و جزوه بدون ذکر منبع پیگرد قانونی دارد. </p>
