<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>فرم ارتباط با ما</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .contact-form {
            background: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin: auto;
            margin-top: 50px;
        }
        .a{
          font-family:"ordibehesht";
          text-align: center;
        }
         .b{
          font-family:"b yekan";
           text-align: center;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="contact-form">
        <h2 class="a"> ارتباط با ما</h2>
       <br>
            <div class="mb-3">
                <h5 class="b">ابوالفضل قاسمی</h5>
                
            </div>
           
            <div class="b">
                <h6>َAbolfazl@email.com</h6>
                
            </div>
            
      
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>